html,
body{
    background-color: #CCC;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #333;
    z-index: 9999;
}

nav a.logo{
    position: relative;
    display: block;
    float: left;
    width:20%;
    padding:25px;
    color:#CCC;
    font-size: 1.3em;
}

nav .menu{
    position: relative;
    display: block;
    float: right;
    width:calc(80% - 50px);
    
}

nav .menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    display: block;
    float: right;
}

nav .menu ul li{
    position: relative;
    display: block;
    float: left;
}

nav .menu ul li a{
    position: relative;
    display: block;
    float: left;
    padding:20px 25px;
    color:#FFF;
    font-size: 1.4em;
    text-decoration: none;
    cursor: pointer;
}

nav .menu ul li a.name img{
    width:32px;
    position: relative;
    display: block;
    float: left;
    border-radius: 16px;
}

nav .menu ul li a.name span{
    position: relative;
    display: block;
    float: left;
    padding-left: 10px;
    padding-top: 4px;
}

.users{
    position: absolute;
    width:100%;
    background: #999;
    height: 100vh;
    left:0;
    overflow: hidden;
}

.users .user{
    position: absolute;
    top:150px;
    left:150px;
    background-color: #333;
    color:#FFF;
    border-radius: 60px
}

.users .user img{
    position: relative;
    display: block;
    width:120px;
    height:120px;
    border-radius: 60px;
}

.users .user span{
    text-align: center;
    position: absolute;
    display: block;
    clear: both;
    width: 100%;
    top:calc(50% - 10px);
    background-color: rgba(0,0,0,0.5);
    font-size: 11px;
    padding:5px 0px;
}

.chat{
    position: absolute;
    display: none;
    width:30%;
    right: 0;
    bottom:0;
    top:0px;
    bottom:0px;
}

.chat .messages{
    position: relative;
    display: block;
    padding-top: 75px;
    padding-bottom:15px;
    float: left;
    width: 100%;
    height:calc(100vh - 200px);
    background-color: #666;
    overflow: auto;
}

.chat .messages .message{
    position: relative;
    display: block;
    float: left;
    margin:5px;
    background-color: #333;
    color:#FFF;
    clear:both;
    font-size: 24px;
    padding:5px;
    border-radius: 5px;
}

.chat .messages .message.right{
    float: right;
    text-align: right;
}

.chat .messages .message .user{
    font-size: 12px;
    color:#CCC;
}

.chat .controls{
    position: absolute;
    bottom:0;
    height:112px;
    width: 100%;
    border-top: 3px solid #333;
}

.chat textarea{
    width: calc(100% - 10px);
    padding: 5px;
    height: 64px;
    resize: none;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}

.chat button{
    background-color: #333;
    color:#FFF;
    border:0px;
    float:right;
    height:34px;
    width:100%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.loading{
    position:absolute;
    display: block;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 99999;
}

.loading span{
    position:absolute;
    display: block;
    color:#FFF;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50vh;
    font-family: Arial, Helvetica, sans-serif;
}